.card-deck {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

.btn{
    background-color: slateblue;
    border-color: white;
}

.btn:hover{
    background-color: white;
    color: slateblue;
    border: slateblue;
}

body {
    background-repeat: no-repeat;
    background-size: 1800px 800px;
    }